libs/

# PyCharm
.idea
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignore log files
log
cysignals_crash_logs
#project/**/log
#project/**/log/

# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
