# NetQASM and SquidASM libs
#libs/

# PyCharm
.idea
.idea/

# ignore log files
log
cysignals_crash_logs
cysignals_crash_logs/
#project/**/log
#project/**/log/

# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
